* {
    font-family: 'Cairo', sans-serif;
}

/*Register page*/

/* to cente the form in register page*/
.body-style {
    margin: auto;
    box-shadow: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cadetblue;
    background-image: url("image/bg1.jpg");
    background-size: contain;
    background-repeat: round;

}

.row {
    margin: 0 !important;
}


.signin-form {
    background-color: white;
    border-radius: 20px;
    opacity: 0.8;
    padding: 30px;
}

.card {
    transition: all 0.5s ease-in-out;
}

.card .hidden {
    opacity: 0;
    transform: scale(0.9);
}

input[type="radio"]:checked+.btn {
    background-color: #149950 !important;
}

input[type="radio"] {
    opacity: 0;
}

/*to keep the form style when ther is no time slot*/
.time-btn-row {
    height: 45.6px;
    width: 418.112px;
}

/* */
.sub-btn {
    width: 150px;
    text-align: center;
    margin-top: 20px;
}


/* navBAr*/
.navbar-brand img {
    height: 50px;
}

.nav-item {
    text-align: left;
}